NET "carry_out" LOC = B4;
NET "clk" LOC = T9;
NET "nombre1[0]" LOC = A9;
NET "nombre1[1]" LOC = C9;
NET "nombre1[2]" LOC = A10;
NET "nombre1[3]" LOC = B10;
NET "nombre1[4]" LOC = D10;
NET "nombre1[5]" LOC = C10;
NET "nombre1[6]" LOC = B11;
NET "nombre1[7]" LOC = C11;
NET "nombre2[0]" LOC = A12;
NET "nombre2[1]" LOC = B12;
NET "nombre2[2]" LOC = D12;
NET "nombre2[3]" LOC = C12;
NET "nombre2[4]" LOC = A13;
NET "nombre2[5]" LOC = B13;
NET "nombre2[6]" LOC = A14;
NET "nombre2[7]" LOC = B14;
NET "reset_n" LOC = T14;
NET "resultat[0]" LOC = B16;
NET "resultat[1]" LOC = C15;
NET "resultat[2]" LOC = C16;
NET "resultat[3]" LOC = D14;
NET "resultat[4]" LOC = D15;
NET "resultat[5]" LOC = D16;
NET "resultat[6]" LOC = E13;
NET "resultat[7]" LOC = E14;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 20 ns HIGH 50%;
